* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    background-image: url("assets/img/bgMilitary.jpg");
    background-size: 125%;
}

.wrapper {
    display: grid;
    padding: 9% 13%;
    grid-template: 1fr / 20% 75%;
    column-gap: 5%;
}

.bg {
    background: rgb(252, 247, 239);
    border-radius: 2%;
    box-shadow: 1px 1px 5px 2px rgb(220, 219, 219);
}

.nav_menu {
    opacity: 0.7;
}

.nav_menu_items {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav_menu_item {
    list-style-type: none;
    padding-top: 12%;
    padding-bottom: 13%;
    padding-left: 8%;
    padding-right: 8%;
    color: rgb(30, 22, 13);
}

.nav_menu_item:hover {
    box-shadow: 2px 2px 8px 3px rgb(220, 219, 219);
    cursor: pointer;
    background-image: url("assets/img/camouflage.jpg");
    color: white;
    border-radius: 3%;
}

.main_wrapper {
    padding: 3%;
    opacity: 0.8;
}

.main {
    display: grid;
    grid-template: 11% 85% / 1fr;
}

.main_title {
    color: rgb(7, 51, 12);
}

.main_content {
    display: flex;
    column-gap: 2%;
}

.main_content_img {
    width: 100%;
    max-width: 300px;
    object-fit: contain;
}

.main_content_text {
    line-height: 125%;
    text-align: justify;
}

@media(max-width:1200px) {
    body {
        background-size: 160%;
    }

    .wrapper {
        padding: 15% 7%;
    }

    .main_content_img {
        padding-top: 1%;
        max-width: 280px;
    }
}

@media(max-width:879px) {
    body {
        background-size: 300%;
    }

    .wrapper {
        padding: 3% 8%;
        grid-template: auto 100% / 1fr;
        row-gap: 3%;
    }

    .nav_menu_item {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 20px;
    }

    .main {
        grid-template: 5% 80%/ 1fr;
    }

    .main_title {
        text-align: center;
    }

    .main_content {
        display: grid;
        justify-items: center;
        row-gap: 6%;
    }

    .main_content_img {
        padding-top: 5%;
    }

    .main_content_text {
        font-size: 18px;
        text-align: center;
        padding: 0 5%;
    }
}

@media(max-width:540px) {
    body {
        background-size: 400%;
    }

    .wrapper {
        padding: 7% 8%;
    }
}

