* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: Arial, sans-serif;*/
    font-family: Verdana, sans-serif;
}

body {
    background-image: url("assets/img/bgMilitary.jpg");
    background-size: 125%;
}

.wrapper {
    display: grid;
    padding: 9% 15%;
    grid-template: 27em / 20% 75%;
    column-gap: 5%;
}

.bg {
    background: rgb(252, 247, 239);
    border-radius: 2%;
    box-shadow: 1px 1px 5px 2px rgb(220, 219, 219);
}

.nav_menu {
    opacity: 0.7;
}

.nav_menu_items {
    display:flex;
    flex-direction:column;
    text-align: center;
    font-size: 1em;
}

.nav_menu_item {
    list-style-type: none;
    padding-top: 12%;
    padding-bottom: 13%;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 1.15em;
    color: rgb(30, 22, 13);
}

.nav_menu_item:hover {
    box-shadow: 2px 2px 8px 3px rgb(220, 219, 219);
    cursor: pointer;
    background-image: url("assets/img/camouflage.jpg");
    color: white;
    border-radius: 3%;
}

.main_wrapper {
    padding: 3%;
    opacity: 0.8;
}

.main {
    display: grid;
    grid-template: 11% 85% / 1fr;
}

.main_title {
    color: rgb(7, 51, 12);
}

.main_content {
    display: flex;
    column-gap: 3%;
}

.main_content_img {
    max-width: 290px;
    max-height: 440px;
}

.main_content_text {
    line-height: 1.45em;
    font-size: 16px;
    text-align: justify;
}

@media(max-width:1200px){
    body {
        background-size: 160%;
    }
    .wrapper {
        padding: 16% 10%;
    }
    .main {
        grid-template: 12% 75% / 1fr;
    }
    .main_content_img {
        min-width: 240px;
        min-height: 290px;
        max-width: 280px;
        min-height: 330px;
    }
    .main_content_text {
        line-height: normal;
        font-size: 15px;
    }
}

@media(max-width:960px){
    body {
        background-size: 180%;
    }
}

@media(max-width:879px){
    body {
        background-size: 300%;
    }
    .wrapper {
        padding: 8% 10%;
        grid-template: 12em 90% / 1fr;
        row-gap: 3%;
    }
    .nav_menu_item {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 22px;
    }
    .main {
        grid-template: 8% 75% / 1fr;
    }
    .main_title {
        text-align: center;
    }
    .main_content {
        display: flex;
        flex-wrap:wrap;
        row-gap: 3%;
    }
    .main_content_img {
        margin-left: 21%;
        max-width: 350px;
        min-height: 330px;
    }
    .main_content_text {
        line-height: 1.45em;
        font-size: 18px;
        text-align: justify;
    }
}